body {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), 
    rgb(110, 108, 108));
    background-attachment: fixed; 
}

div img {
  clear:both;
  font-size:0;
}

main {
  position: relative;
  margin: 0;
}

a {
  color: rgb(218, 218, 218);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: hotpink;
  }

header {
    color: rgb(234, 234, 234);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -5rem;
    font-family: "Sankofa Display", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    margin-left: -2rem;
}

nav {
    background-image: linear-gradient(to bottom left, rgb(0, 0, 0),
     rgb(88, 88, 88));
    background-attachment: fixed;
    color: rgb(221, 221, 221);
    text-align: center;
    padding: 5px;
}

nav h2 {
  font-family: "Sankofa Display", sans-serif;
  font-size: 25px;
  word-spacing: 70px;
}

.box1 {
    position: relative;
    width: 500px;
    height: 700px;
    background-color: rgb(29, 29, 29);
    left: 45rem;
    top: 4rem;
}

.box2 {
    position: absolute;
    width: 500px;
    height: 700px;
    background-color: rgb(29, 29, 29);
    left: 35rem;
    top: 9rem;
}

p.textbox {
    color: rgb(231, 228, 228);
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    padding: 20px;
    padding-top: 100px;
    margin: auto;
    text-transform: lowercase;
    text-align: center;    
}

  .logo {
    position: relative;
    width: 60px;
    height: 70px;
    left: 12.3rem;
    top: -5.3rem;
  }

  .logo:hover {
    filter: sepia(90%) saturate(300%) brightness(70%) hue-rotate(250deg);
  }

  .about-box {
    position: relative;
    background-color: rgb(29, 29, 29);
    width: 1000px;
    height: 950px;
    left: 30%;
    top: 2rem;
  }

  .about-box p {
    color: rgb(231, 228, 228);
    font-size: 13px;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .contact {
    font-size: 40px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(215, 215, 215);
    text-align: center;
  }
  
  .contact-info p {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(215, 215, 215);
    text-align: center;
  }

  .asset-data {
    display: block;
    width: 150;
    height: 150px;
    margin: 0;
    padding: 0;
    
  }
  
  .asset-data:hover {
    filter: sepia(90%) saturate(300%) brightness(70%) hue-rotate(250deg);
  }

  .new-asset-box img:hover{
    filter: sepia(90%) saturate(300%) brightness(70%) hue-rotate(250deg);
  }

  .asset1 {
    font-size: 0;
    display: block;
    position: relative;
    left: 37.65rem;
    top: -36rem;
    margin: 0;
  }

  .asset2 {
    font-size: 0;
    display: block;
    position: absolute;
    left: 10rem;
    top: 0;
  }

  .asset3 {
    font-size: 0;
    display: block;
    position: absolute;
    left: 10rem;
    top: 0;
    margin: 0;
  }

   #about-page {
    top: -660px;
    left: 66rem;
  }

  #about-page-2 {
    top: 200px;
    left: 0px;
  }

  #about-page-3 {
    top: 200px;
    left: 0px;
  }

  .first-asset-box {
    font-size: 0;
    position: relative;
    display: block;
    left: 32px;
    top: -1rem;
    transform: scale(0.9);
  }

  .new-asset-box {
    position: relative;
    display: block;
    transform: scale(0.9);
    word-spacing: 10px;
    top: 4rem;
    left: 0.4rem;
  }

  .asset-box-about {
    display: block;
    position: absolute;
    left: -1150px;
    top: 844px;
    transform: scale(0.9);
  }

  .asset-box-about-2 {
    display: block;
    position: relative;
    transform: scale(0.9);
    padding: 0;
    margin: 0;
    top: -7.8rem;
    margin-left: 1230px
  }

  footer {
    position: relative;
    font-size: 12px;
    color: rgb(209, 209, 209);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    top: 20rem;
  }

  #about-footer
  {
    top: 3rem;
  }

  #contact-footer {
    top: 42rem;
  }

  @media (max-width: 2048px)
  { 
    .box1 {
      margin-top: 1.5rem;
      left: 29rem;
      top: 3rem;
    }
    .about-box {
      left: 25%;
    }
    footer {
      top: 13rem;
    } 
  }
  

  @media (max-width: 1920px)
  { 
    .box1 {
      margin-top: 1.5rem;
      left: 25rem;
      top: 3rem;
    }
    .about-box {
      left: 23%;
    }
    footer {
      top: 13rem;
    }
  }

@media (max-width: 1440px)
{ 
  .logo {
    left: 12.0rem;
  }
  .shrink{
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    transform:scale(0.8);
    }
  .box1 {
    left: 8rem;
    top: -2rem;
  }
  .about-box {
    left: 14%;
  }
  footer {
    top: 3rem;
  }
}

@media (max-width: 1680px)
{ 
  .logo {
    left: 10rem;
  }
  .shrink{
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    transform:scale(0.8);
    }
  .box1 {
    left: 17rem;
    top: -2rem;
  }
  .about-box {
    left: 16%;
  }
  footer {
    top: 3rem;
  }  
}

@media (max-width: 1600px)
{ 
  .logo {
    left: 10rem;
  }
  .shrink{
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    transform:scale(0.8);
    }
  .box1 {
    margin-bottom: -10rem;
    left: 16rem;
    top: -2rem;
  }
  .about-box {
    left: 17%;
  }
  footer {
    top: 3rem;
  }  
}

@media (max-width: 1280px)
{ 
  .logo {
    left: 8.5rem;
  }
  .shrink{
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    transform:scale(0.7);
    }
  .box1 {
    margin-top: -78px;
    left: 7rem;
    top: 3rem;
  }
  .about-box {
    left: 9%;
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    transform:scale(0.7);
  }
  footer {
    top: 2rem;
  }  
}

@media (max-width: 1170px)
{ 
  header {
    right: 5rem;
  }

  nav h2 {
    font-size: 15px;
    word-spacing: 20px;
  }
  .logo {
    left: 9.5rem;
  }
  .shrink{
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    transform:scale(0.7);
    }
  .box1 {
    margin-top: -110px;
    left: -3.8rem;
    top: 3rem;
  }
  .box2 {
    left: 0px;
    top: 46rem;
  }
  .about-box {
    position: relative;
    left: -7rem;
    width: 600px;
    height: 650px;
    top: -6.2rem;
    margin-bottom: 0px;
    -webkit-transform:scale(0.4);
    -moz-transform:scale(0.4);
    -ms-transform:scale(0.4);
    transform:scale(0.6);
  }
  footer {
    top: 730px;
  } 

  .first-asset-box{
    display: none;
  }

  .new-asset-box {
    top: 920px;
    padding-bottom: 80px;
  }

  .asset-box-about {
    display: none;
  }

  .asset-box-about-2 {
    display: none;
  }

  .box2 p {
    transform: scale(0.94);
  }
}
